# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=bentopdf
DropCapability=all
Image=ghcr.io/ngarside/bentopdf:2.8.5.674@sha256:69ab5636a6331e6b7e43a37c64b3a94ea841e97a60832d7d74c52fc7a3dcc340
Memory=512m
Network=bentopdf.network:ip=10.23.0.2
NoNewPrivileges=true
PidsLimit=64
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
