# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=bentopdf
DropCapability=all
Image=ghcr.io/ngarside/bentopdf:2.8.5.608@sha256:f7aa73395bb39c749318df45a3acd85481b77eafa29da43a3264cedc8437d415
Memory=512m
Network=bentopdf.network:ip=10.23.0.2
NoNewPrivileges=true
PidsLimit=64
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
