# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=bentopdf
DropCapability=all
Image=ghcr.io/ngarside/bentopdf:2.8.4.525@sha256:1c8f411e7471cba88978abc252a1dd2b495cfa1bdb882a5d6d34910b36cab9f9
Memory=512m
Network=bentopdf.network:ip=10.23.0.2
NoNewPrivileges=true
PidsLimit=64
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
