# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=vector_privileged
GroupAdd=keep-groups
Image=ghcr.io/ngarside/vector-privileged:0.51.1.100
Memory=8g
Network=vector.network:ip=10.15.0.3
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
SecurityLabelDisable=true
UserNS=auto
Volume=/etc/vector/privileged:/etc/vector:ro
Volume=/var/log/journal:/var/log/journal:ro
Volume=/var/data/vector/privileged/data:/var/lib/vector:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/vector/privileged/data

[Install]
WantedBy=default.target
