# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=vector_privileged
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/vector-privileged:0.55.0.405@sha256:148f2e6bc2152f2ef1f7cc10644ad71d666b5aad0d0165e75776a808037be00b
Memory=4g
Network=vector.network:ip=10.15.0.3
NoNewPrivileges=true
ReadOnly=true
SecurityLabelDisable=true
UserNS=auto
Volume=/etc/vector/privileged:/etc/vector:ro
Volume=/var/log/journal:/var/log/journal:ro
Volume=/var/data/vector/privileged/data:/var/lib/vector:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/vector/privileged/data

[Install]
WantedBy=default.target
