# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=vector_privileged
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/vector-privileged:0.56.0.526@sha256:33aa58c28b369e83f05c343835ed5e3353764c6e323b16a90fd42f7c897ea093
Memory=4g
Network=vector.network:ip=10.15.0.3
NoNewPrivileges=true
ReadOnly=true
SecurityLabelDisable=true
UserNS=auto
Volume=/etc/vector/privileged:/etc/vector:ro
Volume=/var/log/journal:/var/log/journal:ro
Volume=/var/data/vector/privileged/data:/var/lib/vector:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/vector/privileged/data

[Install]
WantedBy=default.target
