# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=vector_unprivileged
DropCapability=all
Image=ghcr.io/ngarside/vector-unprivileged:0.56.0.526@sha256:a422d6cb641d23d2d9e13ccc22b256d2495a568e25e36a972bd5a7b4f68be357
Memory=4g
Network=vector.network:ip=10.15.0.2
Network=victoria_logs.network:ip=10.24.0.4
Network=victoria_metrics.network:ip=10.25.0.4
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/etc/vector/unprivileged:/etc/vector:ro
Volume=/proc:/proc:ro
Volume=/sys:/sys:ro

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
