# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=authentik_postgres
Environment=POSTGRES_DB=authentik
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Environment=POSTGRES_PASSWORD=authentik
Environment=POSTGRES_USER=authentik
Image=ghcr.io/ngarside/postgres:latest
Network=authentik_internal.network:ip=10.7.0.3
NoNewPrivileges=true
ReadOnly=true
StopSignal=SIGINT
UserNS=auto:size=256
Volume=/var/data/authentik/postgres:/var/lib/postgresql/data:U,Z

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=mkdir --parents /var/data/authentik/postgres

[Install]
WantedBy=default.target
