# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=jellyfin
Image=ghcr.io/ngarside/jellyfin:10.11.0.8
Network=jellyfin.network:ip=10.11.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
UserNS=auto
Volume=/var/data/jellyfin/cache:/cache:U,Z
Volume=/var/data/jellyfin/config:/config:U,Z
Volume=/var/data/jellyfin/media:/media:U,Z,ro

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/jellyfin/cache
ExecStartPre=mkdir --parents /var/data/jellyfin/config
ExecStartPre=mkdir --parents /var/data/jellyfin/media

[Install]
WantedBy=default.target
