# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=jellyfin
CPUQuota=100%
DropCapability=all
Image=ghcr.io/ngarside/jellyfin:10.11.8.377@sha256:f7bc894a79ced16297ca6fb310e363f1e3695c8eaaf8bd879f2de579d67f5c23
Memory=4g
Network=jellyfin.network:ip=10.11.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/jellyfin/cache:/cache:U,Z
Volume=/var/data/jellyfin/config:/config:U,Z
Volume=/var/data/jellyfin/media:/media:U,Z,ro

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/jellyfin/cache
ExecStartPre=mkdir --parents /var/data/jellyfin/config
ExecStartPre=mkdir --parents /var/data/jellyfin/media

[Install]
WantedBy=default.target
