# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=jellyfin
DropCapability=all
Image=ghcr.io/ngarside/jellyfin:10.11.10.427@sha256:b0012f7a28bd5270de491795d3fb07dbb91513db138a2a85e826f9b518e9244f
Memory=4g
Network=jellyfin.network:ip=10.11.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/jellyfin/cache:/cache:U,Z
Volume=/var/data/jellyfin/config:/config:U,Z
Volume=/var/data/jellyfin/movies:/movies:U,Z,ro
Volume=/var/data/jellyfin/music:/music:U,Z,ro
Volume=/var/data/jellyfin/shows:/shows:U,Z,ro

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/jellyfin/cache
ExecStartPre=mkdir --parents /var/data/jellyfin/config
ExecStartPre=mkdir --parents /var/data/jellyfin/movies
ExecStartPre=mkdir --parents /var/data/jellyfin/music
ExecStartPre=mkdir --parents /var/data/jellyfin/shows

[Install]
WantedBy=default.target
