# This is free and unencumbered software released into the public domain.

[Unit]
After=network-online.target

[Service]
User=containers
Group=containers
Type=simple
ExecStartPre=podman load --input /etc/images/caddy
ExecStartPre=mkdir --parents /var/data/caddy/etc
ExecStart=podman run \
	--name caddy \
	--network host \
	--publish 80:80/tcp \
	--read-only \
	--replace \
	--userns=auto \
	--volume /var/data/caddy/etc:/etc/caddy:U,Z \
	ghcr.io/ngarside/caddy:latest
ExecStop=podman stop --ignore caddy
Restart=always

[Install]
WantedBy=default.target
