# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=excalidraw
DropCapability=all
Image=ghcr.io/ngarside/excalidraw:0.0.0.434@sha256:cf9543290f89c9a9d5d9164675c47224bee2f6ed0b89de42af4570216cb90dfb
Memory=512m
Network=excalidraw.network:ip=10.18.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
