# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=excalidraw
DropCapability=all
Image=ghcr.io/ngarside/excalidraw:0.0.0.450@sha256:5e5f86d2a753563d66ff086759c6f69ddc32480b44fdd6f8fc258b43f5d9410d
Memory=512m
Network=excalidraw.network:ip=10.18.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
