# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=excalidraw
DropCapability=all
Image=ghcr.io/ngarside/excalidraw:0.0.0.467@sha256:4e934a876772b181273fd19a54d16e89c50627842e3f6eb196fea019d027e778
Memory=512m
Network=excalidraw.network:ip=10.18.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
