# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=whoami
DropCapability=all
Image=ghcr.io/ngarside/whoami:1.11.0.531@sha256:0bbd1812ef5cb064cb4247f43dbc1eaeb394896bb993411a887a41ebd2706a72
Memory=512m
Network=whoami.network:ip=10.20.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
