# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=whoami
DropCapability=all
Image=ghcr.io/ngarside/whoami:1.11.0.395@sha256:bd3b38615857d7694df3115de6b18a8f5f373fc6c4636ad01be2330b56add638
Memory=512m
Network=whoami.network:ip=10.20.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
