# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=whoami
DropCapability=all
Image=ghcr.io/ngarside/whoami:1.11.0.514@sha256:55d40d823f8aa4e3fbe3184be9977e0e065e2b92885708e505c52c7c54bba13a
Memory=512m
Network=whoami.network:ip=10.20.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
