# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=fossflow
Image=ghcr.io/ngarside/fossflow:24.8.0.148
Network=fossflow.network:ip=10.1.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
