# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=fossflow
DropCapability=all
Image=ghcr.io/ngarside/fossflow:0.0.0.631@sha256:d2f1dea8361115c5dcbb91094e82b38d02f368af243ad3ab3d4ef6aa3a01597f
Memory=512m
Network=fossflow.network:ip=10.1.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
