# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=fossflow
DropCapability=all
Image=ghcr.io/ngarside/fossflow:0.0.0.684@sha256:df624528fa3b19766bdeec46211b2c0cefb91b44b5ba578177f209722eb4c253
Memory=512m
Network=fossflow.network:ip=10.1.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
