# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=authentik_postgres
Environment=POSTGRES_DB=authentik
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/authentik_postgres_password
Environment=POSTGRES_USER=authentik
Image=ghcr.io/ngarside/postgres:18.2.239
Memory=8g
Network=authentik_internal.network:ip=10.7.0.3
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=authentik_postgres_password
StopSignal=SIGINT
UserNS=auto:size=256
Volume=/var/data/authentik/postgres:/var/lib/postgresql:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/authentik/postgres
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore authentik_postgres_password -"

[Install]
WantedBy=default.target
