# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_postgres.container
Requires=authentik_postgres.container

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=authentik_server
DropCapability=all
Environment=AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true
Environment=AUTHENTIK_DISABLE_UPDATE_CHECK=true
Environment=AUTHENTIK_EMAIL__FROM=file:///run/secrets/mailjet_address_noreply
Environment=AUTHENTIK_EMAIL__HOST=in-v3.mailjet.com
Environment=AUTHENTIK_EMAIL__PASSWORD=file:///run/secrets/mailjet_smtp_password
Environment=AUTHENTIK_EMAIL__USERNAME=file:///run/secrets/mailjet_smtp_username
Environment=AUTHENTIK_ERROR_REPORTING__ENABLED=false
Environment=AUTHENTIK_LISTEN__HTTP=0.0.0.0:80
Environment=AUTHENTIK_LOG_LEVEL=trace
Environment=AUTHENTIK_POSTGRESQL__HOST=10.7.0.3
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__PASSWORD=file:///run/secrets/authentik_postgres_password
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Environment=AUTHENTIK_SECRET_KEY=file:///run/secrets/authentik_internal_secret
Exec=server
Image=ghcr.io/ngarside/authentik:2026.5.2.452@sha256:fe6d8b7c65c3d60390ab76f5ad834bd64294ec83b0c43163a20229747a2e4edb
Memory=4g
Network=authentik_external.network:ip=10.8.0.3
Network=authentik_internal.network:ip=10.7.0.4
NoNewPrivileges=true
ReadOnly=true
Secret=authentik_internal_secret
Secret=authentik_postgres_password
Secret=gitea_oidc_secret
Secret=grafana_oidc_secret
Secret=machine_domain_root
Secret=mailjet_address_noreply
Secret=mailjet_smtp_password
Secret=mailjet_smtp_username
Secret=outline_oidc_secret
Secret=penpot_oidc_secret
Secret=vaultwarden_oidc_secret
StopSignal=SIGINT
Tmpfs=/certs:mode=1777
Tmpfs=/data:mode=1777
User=root
UserNS=auto
Volume=/etc/authentik/media:/media/public

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore authentik_internal_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore gitea_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore grafana_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore outline_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore penpot_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore vaultwarden_oidc_secret -"

[Install]
WantedBy=default.target
