# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_postgres.container
After=authentik_valkey.container
Requires=authentik_postgres.container
Requires=authentik_valkey.container

[Container]
ContainerName=authentik_server
Environment=AUTHENTIK_EMAIL__HOST=in-v3.mailjet.com
Environment=AUTHENTIK_EMAIL__FROM=noreply@usani.uk
Environment=AUTHENTIK_SECRET_KEY=4ecdPuxom7t70Z5ZN4gveo0hZDeDwAyz1TBn8tSiwlApsFmOqUNWX/r6TkF+ZgsAdD82NOwWweSfN3hc
Environment=AUTHENTIK_REDIS__HOST=10.7.0.2
Environment=AUTHENTIK_POSTGRESQL__HOST=10.7.0.3
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Exec=server
Image=ghcr.io/goauthentik/server:2025.8.4
Network=authentik_external.network:ip=10.8.0.3
Network=authentik_internal.network:ip=10.7.0.4
NoNewPrivileges=true
ReadOnly=true
Secret=authentik_postgres_password,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=gitea_oidc_secret,type=env,target=GITEA_CLIENT_SECRET
Secret=machine_domain_root,type=env,target=MACHINE_DOMAIN_ROOT
Secret=mailjet_smtp_password,type=env,target=AUTHENTIK_EMAIL__PASSWORD
Secret=mailjet_smtp_username,type=env,target=AUTHENTIK_EMAIL__USERNAME
Secret=outline_oidc_secret,type=env,target=OUTLINE_CLIENT_SECRET
Secret=penpot_oidc_secret,type=env,target=PENPOT_CLIENT_SECRET
Secret=vaultwarden_oidc_secret,type=env,target=VAULTWARDEN_CLIENT_SECRET
StopSignal=SIGINT
User=root
UserNS=auto
Volume=/etc/authentik/media:/media/public:ro

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore gitea_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore outline_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore penpot_oidc_secret -"
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore vaultwarden_oidc_secret -"

[Install]
WantedBy=default.target
