# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=authentik_valkey
Image=ghcr.io/ngarside/valkey:8.1.4.147
Network=authentik_internal.network:ip=10.7.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
UserNS=auto:size=8

[Service]
Restart=always
TimeoutStartSec=9000

[Install]
WantedBy=default.target
