# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_postgres.container
After=authentik_server.container
Requires=authentik_postgres.container
Requires=authentik_server.container

[Container]
AddCapability=CAP_CHOWN
AddCapability=CAP_FOWNER
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID
ContainerName=authentik_worker
DropCapability=all
Environment=AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true
Environment=AUTHENTIK_DISABLE_UPDATE_CHECK=true
Environment=AUTHENTIK_EMAIL__FROM=file:///run/secrets/mailjet_address_noreply
Environment=AUTHENTIK_EMAIL__HOST=in-v3.mailjet.com
Environment=AUTHENTIK_EMAIL__PASSWORD=file:///run/secrets/mailjet_smtp_password
Environment=AUTHENTIK_EMAIL__USERNAME=file:///run/secrets/mailjet_smtp_username
Environment=AUTHENTIK_ERROR_REPORTING__ENABLED=false
Environment=AUTHENTIK_LOG_LEVEL=trace
Environment=AUTHENTIK_POSTGRESQL__HOST=10.7.0.3
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__PASSWORD=file:///run/secrets/authentik_postgres_password
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Environment=AUTHENTIK_SECRET_KEY=file:///run/secrets/authentik_internal_secret
Exec=worker
Image=ghcr.io/ngarside/authentik:2026.5.5.562@sha256:1692a5e5a7cd6781f052dbcd97a1935463f5686c26f1977787951dfb4b02f346
Memory=4g
Network=authentik_internal.network:ip=10.7.0.5
NoNewPrivileges=true
Secret=authentik_internal_secret
Secret=authentik_postgres_password
Secret=gitea_oidc_secret
Secret=grafana_oidc_secret
Secret=machine_domain_root
Secret=mailjet_address_noreply
Secret=mailjet_smtp_password
Secret=mailjet_smtp_username
Secret=outline_oidc_secret
Secret=penpot_oidc_secret
Secret=vaultwarden_oidc_secret
StopSignal=SIGINT
User=root
UserNS=auto
Volume=/etc/authentik/blueprints:/blueprints/custom:ro

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
