# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_postgres.container
After=authentik_server.container
Requires=authentik_postgres.container
Requires=authentik_server.container

[Container]
ContainerName=authentik_worker
Environment=AUTHENTIK_EMAIL__FROM=file:///run/secrets/mailjet_address_noreply
Environment=AUTHENTIK_EMAIL__HOST=in-v3.mailjet.com
Environment=AUTHENTIK_EMAIL__PASSWORD=file:///run/secrets/mailjet_smtp_password
Environment=AUTHENTIK_EMAIL__USERNAME=file:///run/secrets/mailjet_smtp_username
Environment=AUTHENTIK_SECRET_KEY=file:///run/secrets/authentik_internal_secret
Environment=AUTHENTIK_LOG_LEVEL=trace
Environment=AUTHENTIK_POSTGRESQL__HOST=10.7.0.3
Environment=AUTHENTIK_POSTGRESQL__PASSWORD=file:///run/secrets/authentik_postgres_password
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Exec=worker
Image=ghcr.io/ngarside/authentik:2025.12.2.179
Memory=8g
Network=authentik_internal.network:ip=10.7.0.5
NoNewPrivileges=true
PodmanArgs=--cpus=1
Secret=authentik_internal_secret
Secret=authentik_postgres_password
Secret=gitea_oidc_secret
Secret=grafana_oidc_secret
Secret=machine_domain_root
Secret=mailjet_address_noreply
Secret=mailjet_smtp_password
Secret=mailjet_smtp_username
Secret=outline_oidc_secret
Secret=penpot_oidc_secret
Secret=vaultwarden_oidc_secret
StopSignal=SIGINT
User=root
UserNS=auto
Volume=/etc/authentik/blueprints:/blueprints/custom:ro

[Service]
Restart=always
TimeoutStartSec=9000

[Install]
WantedBy=default.target
