# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_server.container
After=penpot_postgres.container
After=penpot_valkey.container
Requires=authentik_server.container
Requires=penpot_postgres.container
Requires=penpot_valkey.container

[Container]
ContainerName=penpot_backend
Environment="PENPOT_FLAGS=disable-registration disable-secure-session-cookies enable-login-with-oidc enable-oidc-registration"
Environment=PENPOT_HTTP_SERVER_MAX_BODY_SIZE=31457280
Environment=PENPOT_HTTP_SERVER_MAX_MULTIPART_BODY_SIZE=367001600
Environment=PENPOT_DATABASE_URI=postgresql://10.4.0.3/penpot
Environment=PENPOT_DATABASE_USERNAME=penpot
Environment=PENPOT_REDIS_URI=redis://10.4.0.2/0
Environment=PENPOT_ASSETS_STORAGE_BACKEND=assets-fs
Environment=PENPOT_STORAGE_ASSETS_FS_DIRECTORY=/opt/data/assets
Environment=PENPOT_OIDC_CLIENT_ID=penpot
Image=ghcr.io/ngarside/penpot-backend:2.13.2.196
Memory=8g
Network=penpot_internal.network:ip=10.4.0.5
Network=penpot_external.network:ip=10.3.0.8
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=penpot_oidc_secret,type=env,target=PENPOT_OIDC_CLIENT_SECRET
Secret=penpot_oidc_uri,type=env,target=PENPOT_OIDC_BASE_URI
Secret=penpot_postgres_password,type=env,target=PENPOT_DATABASE_PASSWORD
Secret=penpot_public_uri,type=env,target=PENPOT_PUBLIC_URI
Volume=/var/data/penpot/assets:/opt/data/assets:z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/penpot/assets
ExecStartPre=podman unshare chown 1001:1001 /var/data/penpot/assets

[Install]
WantedBy=default.target
