# This is free and unencumbered software released into the public domain.

[Unit]
After=penpot_valkey.container
Requires=penpot_valkey.container

[Container]
ContainerName=penpot_exporter
DropCapability=all
Environment=PENPOT_REDIS_URI=redis://10.4.0.2/0
Image=ghcr.io/ngarside/penpot-exporter:2.15.0.441@sha256:6e364bd62bec4c549237fdd9aa308918905654a0df47c4bc576a1347a25aec93
Memory=4g
Network=penpot_internal.network:ip=10.4.0.4
Network=penpot_external.network:ip=10.3.0.7
NoNewPrivileges=true
ReadOnly=true
Secret=penpot_public_uri,type=env,target=PENPOT_PUBLIC_URI
UserNS=auto

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
