# This is free and unencumbered software released into the public domain.

[Unit]
After=penpot_valkey.container
Requires=penpot_valkey.container

[Container]
ContainerName=penpot_exporter
Environment=PENPOT_PUBLIC_URI=https://penpot.usani.uk
Environment=PENPOT_REDIS_URI=redis://10.4.0.2/0
Image=ghcr.io/ngarside/penpot-exporter:2.10.1.42
Network=penpot_internal.network:ip=10.4.0.4
Network=penpot_external.network:ip=10.3.0.7
NoNewPrivileges=true
ReadOnly=true
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=9000

[Install]
WantedBy=default.target
