# This is free and unencumbered software released into the public domain.

[Unit]
After=penpot_backend.container
After=penpot_exporter.container
Requires=penpot_backend.container
Requires=penpot_exporter.container

[Container]
ContainerName=penpot_frontend
Environment=PENPOT_BACKEND_URI=http://10.3.0.8:6060
Environment=PENPOT_EXPORTER_URI=http://10.3.0.7:6061
Environment="PENPOT_FLAGS=disable-registration disable-secure-session-cookies enable-login-with-oidc enable-oidc-registration"
Environment=PENPOT_HTTP_SERVER_MAX_BODY_SIZE=31457280
Environment=PENPOT_HTTP_SERVER_MAX_MULTIPART_BODY_SIZE=367001600
Image=ghcr.io/ngarside/penpot-frontend:2.10.1.25
Memory=8g
Network=penpot_external.network:ip=10.3.0.9
NoNewPrivileges=true
PodmanArgs=--cpus=1
Secret=penpot_public_uri,type=env,target=PENPOT_PUBLIC_URI
Volume=/var/data/penpot/assets:/opt/data/assets:z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/penpot/assets
ExecStartPre=podman unshare chown 1001:1001 /var/data/penpot/assets

[Install]
WantedBy=default.target
