# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=penpot_valkey
DropCapability=all
Image=ghcr.io/ngarside/valkey:9.0.4.1010@sha256:fc5ef5d3c89c11c821f250f6384e411990be0d40b4ccd70d72b597443b461dfe
Memory=4g
Network=penpot_internal.network:ip=10.4.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
