# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=penpot_valkey
DropCapability=all
Image=ghcr.io/ngarside/valkey:9.0.4.904@sha256:16f73682dc803e62e2a12a6fa77f457826009a75080ef0bbfdb9ebf329af473d
Memory=4g
Network=penpot_internal.network:ip=10.4.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
