# This is free and unencumbered software released into the public domain.

[Unit]
Description=Generates SSH host keys in a persistent location
Before=sshd.service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/keygen
Type=oneshot

[Install]
WantedBy=default.target
