# This is free and unencumbered software released into the public domain.

[Unit]
Description=Generates SSH host keys in a persistent location
DefaultDependencies=no
Before=sshd.service
Before=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /etc/keygen/keygen.sh

[Install]
WantedBy=default.target
