# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=opencloud
Environment=PROXY_HTTP_ADDR=0.0.0.0:80
Environment=PROXY_TLS=false
Image=ghcr.io/ngarside/opencloud:3.7.0.39
Memory=8g
Network=opencloud.network:ip=10.17.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
UserNS=auto:size=8
Secret=opencloud_public_uri,type=env,target=OC_URL
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/var/data/opencloud/config:/etc/opencloud:U,Z
Volume=/var/data/opencloud/data:/var/lib/opencloud:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/opencloud/config
ExecStartPre=mkdir --parents /var/data/opencloud/data

[Install]
WantedBy=default.target
