# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=opencloud
Environment=OC_URL=https://opencloud.usani.uk
Environment=PROXY_TLS=false
Image=docker.io/opencloudeu/opencloud:2.0.4
Network=opencloud.network:ip=10.17.0.2
NoNewPrivileges=true
ReadOnly=true
Volume=/var/data/opencloud/config:/etc/opencloud:U,Z
Volume=/var/data/opencloud/data:/var/lib/opencloud:U,Z

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=mkdir --parents /var/data/opencloud/config
ExecStartPre=mkdir --parents /var/data/opencloud/data

[Install]
WantedBy=default.target
