# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=opencloud
DropCapability=all
Environment=PROXY_HTTP_ADDR=0.0.0.0:80
Environment=PROXY_TLS=false
Image=ghcr.io/ngarside/opencloud:6.1.0.505@sha256:35e281ed12a719bc8c86100b5d29f52ab5e2089523becf6a8f2065717f182103
Memory=4g
Network=opencloud.network:ip=10.17.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Secret=opencloud_public_uri,type=env,target=OC_URL
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/var/data/opencloud/config:/etc/opencloud:U,Z
Volume=/var/data/opencloud/data:/var/lib/opencloud:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/opencloud/config
ExecStartPre=mkdir --parents /var/data/opencloud/data

[Install]
WantedBy=default.target
