# This is free and unencumbered software released into the public domain.

:80 {
	# Expose AdGuardHome under the '/adguardhome' subfolder
	redir /adguardhome /adguardhome/
	handle_path /adguardhome/* {
		reverse_proxy 10.10.0.3 {
			header_down location /login.html /adguardhome/login.html
		}
	}
}
