# This is free and unencumbered software released into the public domain.

[Unit]
After=network-online.target

[Container]
ContainerName=caddy
Image=ghcr.io/ngarside/caddy:latest
Network=host
PublishPort=80:80/tcp
ReadOnly=true
UserNS=auto:size=8
Volume=/etc/caddy:/etc/caddy:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
