# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=caddy
Environment=XDG_CONFIG_HOME=/opt
Image=ghcr.io/ngarside/caddy:latest
Network=adguardhome.network
Network=fossflow.network
Network=memos.network
Network=penpot_frontend.network
Network=starbase.network
PublishPort=80:80/tcp
PublishPort=443:443/tcp
ReadOnly=true
UserNS=auto:size=8
Volume=/etc/caddy:/etc/caddy:ro
Volume=/var/data/caddy/opt:/opt/caddy:U,Z

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=mkdir --parents /var/data/caddy/opt

[Install]
WantedBy=default.target
