# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=caddy
Environment=XDG_CONFIG_HOME=/opt
Image=ghcr.io/ngarside/caddy:2.10.0.253
Network=adguardhome.network:ip=10.2.0.3
Network=fossflow.network:ip=10.1.0.3
Network=memos.network:ip=10.6.0.3
Network=penpot_frontend.network:ip=10.3.0.2
Network=authentik_external.network:ip=10.8.0.2
Network=youtrack.network:ip=10.9.0.3
Network=outline.network:ip=10.10.0.5
Network=jellyfin.network:ip=10.11.0.3
Network=vaultwarden.network:ip=10.12.0.3
Network=cloudflared.network:ip=10.13.0.3
Network=gitea.network:ip=10.14.0.3
NoNewPrivileges=true
ReadOnly=true
Secret=cloudflare_api_token,type=env,target=CLOUDFLARE_API_TOKEN
UserNS=auto:size=8
Volume=/etc/caddy:/etc/caddy:ro
Volume=/var/data/caddy/opt:/opt/caddy:U,Z

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=mkdir --parents /var/data/caddy/opt

[Install]
WantedBy=default.target
