# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=crowdsec
DropCapability=all
GIDMap=0:8759
Image=ghcr.io/ngarside/crowdsec:1.7.7.357
Memory=8g
Network=crowdsec.network:ip=10.26.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=crowdsec_bouncer_secret,type=env,target=BOUNCER_KEY_CADDY
Tmpfs=/etc/crowdsec:mode=1777
UIDMap=0:8759
UserNS=nomap
Volume=/etc/crowdsec/crowdsec.yaml:/etc/crowdsec/acquis.d/crowdsec.yaml:ro
Volume=/var/data/caddy/logs:/var/log/caddy:ro,z
Volume=/var/data/crowdsec/data:/var/lib/crowdsec/data:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/caddy/logs
ExecStartPre=mkdir --parents /var/data/crowdsec/data
ExecStartPre=bash -c "tr --complement --delete A-Za-z0-9 < /dev/urandom | head --bytes 32 | podman secret create --ignore crowdsec_bouncer_secret -"

[Install]
WantedBy=default.target
