# This is free and unencumbered software released into the public domain.

[Unit]

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /etc/restic/restic.sh

[Install]
WantedBy=default.target
