# This is free and unencumbered software released into the public domain.

[Unit]

[Timer]
OnBootSec=0s
OnUnitActiveSec=1h
Persistent=true
Unit=restic.service

[Install]
WantedBy=timers.target
