# This is free and unencumbered software released into the public domain.

[Unit]

[Timer]
OnCalendar=02:00
Persistent=true

[Install]
WantedBy=timers.target
