# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=outline_valkey
Image=ghcr.io/ngarside/valkey:8.1.3.103
Network=outline.network:ip=10.10.0.4
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
