# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=starbase
Environment=CATEGORIES=small
Environment=NEWWINDOW=false
Environment=TITLE=Usani
Image=ghcr.io/ngarside/starbase:latest
IP=10.5.0.2
Network=starbase.network
UserNS=auto:size=8
Volume=/etc/starbase/starbase.json:/app/src/config/config.json:ro

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
