# This is free and unencumbered software released into the public domain.

[Unit]
After=network-online.target
Description=AdguardHome
ConditionFirstBoot=true

[Service]
Type=oneshot
ExecStart=rpm-ostree rebase --bypass-driver --reboot ostree-unverified-registry:ghcr.io/ngarside/server:latest
RemainAfterExit=yes

[Install]
WantedBy=default.target
