# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=victoria_logs
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/victoria-logs:1.50.0.442@sha256:d88393717a8afebad8aae193726b1cf95627358425f080b5666c8f71fdd6c632
Memory=4g
Network=victoria_logs.network:ip=10.24.0.3
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/victoria/logs:/var/lib/victorialogs:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/victoria/logs

[Install]
WantedBy=default.target
