# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=victoria_logs
GroupAdd=keep-groups
Image=ghcr.io/ngarside/victoria-logs:1.43.1.129
Memory=8g
Network=victoria_logs.network:ip=10.24.0.3
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
UserNS=auto
Volume=/var/data/victoria/logs:/var/lib/victorialogs:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/victoria/logs

[Install]
WantedBy=default.target
