# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=victoria_logs
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/victoria-logs:1.51.0.561@sha256:d03bc4e17c0475a70fe9535db0b683ff64d63e592e8b63fd2817a8085a8d6ea8
Memory=4g
Network=victoria_logs.network:ip=10.24.0.3
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/victoria/logs:/var/lib/victorialogs:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/victoria/logs

[Install]
WantedBy=default.target
