# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=victoria_metrics
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/victoria-metrics:1.145.0.530@sha256:8d2be30e1c18cff6903acd4049c63300c8ce07af068bd9c3aa4f2cd10e78da91
Memory=4g
Network=victoria_metrics.network:ip=10.25.0.3
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/victoria/metrics:/var/lib/victoriametrics:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/victoria/metrics

[Install]
WantedBy=default.target
