# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=victoria_metrics
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/victoria-metrics:1.140.0.399@sha256:b086ae903c9fc59aa04c4c4955f54fab31bc933e0a575d711c8f50b5cea0bbd1
Memory=4g
Network=victoria_metrics.network:ip=10.25.0.3
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/victoria/metrics:/var/lib/victoriametrics:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/victoria/metrics

[Install]
WantedBy=default.target
