# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=victoria_metrics
DropCapability=all
GroupAdd=keep-groups
Image=ghcr.io/ngarside/victoria-metrics:1.148.0.615@sha256:678400d8de9e6d37c6d157d76d8094f15bfc89d9b6338e447518db084a631c88
Memory=4g
Network=victoria_metrics.network:ip=10.25.0.3
NoNewPrivileges=true
ReadOnly=true
UserNS=auto
Volume=/var/data/victoria/metrics:/var/lib/victoriametrics:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/victoria/metrics

[Install]
WantedBy=default.target
