# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_server.container
Requires=authentik_server.container

[Container]
ContainerName=grafana
Image=ghcr.io/ngarside/grafana:12.3.2.173
Memory=8g
Network=grafana.network:ip=10.22.0.2
Network=victoria_logs.network:ip=10.24.0.2
Network=victoria_metrics.network:ip=10.25.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=grafana_oidc_secret
Secret=machine_domain_root
Tmpfs=/tmp:mode=1777
UserNS=auto:size=8
Volume=/etc/grafana:/etc/grafana:ro
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/var/data/grafana/data:/var/lib/grafana:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/grafana/data

[Install]
WantedBy=default.target
