# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_server.container
Requires=authentik_server.container

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=grafana
DropCapability=all
Image=ghcr.io/ngarside/grafana:13.0.2.580@sha256:1812572ab14881bc50444e519934c5010c6959ecc39bf9b05f2e6c5a846946f5
Memory=4g
Network=grafana.network:ip=10.22.0.2
Network=victoria_logs.network:ip=10.24.0.2
Network=victoria_metrics.network:ip=10.25.0.2
NoNewPrivileges=true
ReadOnly=true
Secret=grafana_oidc_secret
Secret=machine_domain_root
Tmpfs=/tmp:mode=1777
UserNS=auto:size=8
Volume=/etc/grafana:/etc/grafana:ro
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/var/data/grafana/data:/var/lib/grafana:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/grafana/data

[Install]
WantedBy=default.target
