# This is free and unencumbered software released into the public domain.

[Unit]
After=network-online.target

[Service]
User=containers
Group=containers
Type=simple
ExecStartPre=podman load --input /etc/images/adguardhome
ExecStartPre=mkdir --parents /var/data/adguardhome/etc
ExecStartPre=mkdir --parents /var/data/adguardhome/opt
ExecStartPre=chmod u=rw,g=r,o= /var/data/adguardhome/etc
ExecStartPre=chmod u=rw,g=r,o= /var/data/adguardhome/opt
ExecStart=podman run \
	--name adguardhome \
	--publish 53:53/tcp \
	--publish 53:53/udp \
	--publish 80:80/tcp \
	--read-only \
	--replace \
	--userns=auto \
	--volume /var/data/adguardhome/etc:/etc/adguardhome:U,Z \
	--volume /var/data/adguardhome/opt:/opt/adguardhome:U,Z \
	ghcr.io/ngarside/adguardhome:latest
ExecStop=podman stop --ignore adguardhome
Restart=always

[Install]
WantedBy=default.target
