[Unit]
After=network-online.target
Description=AdguardHome

[Service]
Type=simple
ExecStartPre=/usr/bin/podman load --input /etc/images/adguardhome
ExecStart=/usr/bin/podman run --name adguardhome --publish 53:53/tcp --publish 53:53/udp --publish 80:80/tcp --read-only --replace --userns=auto --volume /etc/adguardhome/work:/opt/adguardhome/work:U,Z --volume /etc/adguardhome/conf:/opt/adguardhome/conf:U,Z ghcr.io/ngarside/adguardhome:latest
ExecStop=/usr/bin/podman stop --ignore adguardhome
Restart=always

[Install]
WantedBy=default.target
