# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=gitea
Image=ghcr.io/ngarside/gitea:1.24.6.182
Network=gitea.network:ip=10.14.0.2
NoNewPrivileges=true
ReadOnly=true
Secret=gitea_global_secret
Secret=gitea_internal_secret
Secret=gitea_lfs_secret
Secret=gitea_oidc_secret,type=env,target=GITEA_CLIENT_SECRET
Secret=machine_domain_root,type=env,target=MACHINE_DOMAIN_ROOT
UserNS=auto:size=8
Volume=/etc/gitea:/etc/gitea:ro
Volume=/var/data/gitea/db:/opt/db:U,Z
Volume=/var/data/gitea/git:/opt/git:U,Z
Volume=/var/data/gitea/home:/var/lib/gitea:U,Z
Volume=/var/data/gitea/lfs:/opt/lfs:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/gitea/db
ExecStartPre=mkdir --parents /var/data/gitea/git
ExecStartPre=mkdir --parents /var/data/gitea/home
ExecStartPre=mkdir --parents /var/data/gitea/lfs
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_global_secret -"
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_internal_secret -"
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_lfs_secret -"

[Install]
WantedBy=default.target
