# This is free and unencumbered software released into the public domain.

[Unit]
After=network-online.target

[Service]
User=containers
Group=containers
Type=simple
ExecStartPre=/bin/bash -c 'mkdir --parents /var/data/gitea/{db,etc,git,lfs}'
ExecStart=podman run \
	--name gitea \
	--network host \
	--publish 80:80/tcp \
	--read-only \
	--replace \
	--userns=auto:size=8 \
	--volume /var/data/gitea/db:/opt/gitea/db:U,Z \
	--volume /var/data/gitea/etc:/etc/gitea:U,Z \
	--volume /var/data/gitea/git:/opt/gitea/git:U,Z \
	--volume /var/data/gitea/lfs:/opt/gitea/lfs:U,Z \
	--volume /var/data/gitea/log:/var/log:U,Z \
	ghcr.io/ngarside/gitea:latest
ExecStop=podman stop --ignore gitea
Restart=always

[Install]
WantedBy=default.target
