# This is free and unencumbered software released into the public domain.

[Unit]
After=gitea_server.container
Requires=gitea_server.container

[Container]
ContainerName=gitea_runner
Environment=GITEA_RUNNER_REGISTRATION_TOKEN_FILE=/run/secrets/gitea_runner_token
Image=ghcr.io/ngarside/gitea-runner:0.3.0.340
Memory=8g
Network=gitea_server.network:ip=10.14.0.4
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=gitea_runner_token
Secret=machine_domain_root
SecurityLabelDisable=true
Tmpfs=/tmp:mode=1777
Volume=/etc/gitea/runner:/etc/gitea:ro
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/run/user/1001/podman/podman.sock:/var/run/docker.sock

[Service]
Restart=always
TimeoutStartSec=9000

[Install]
WantedBy=default.target
