# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_server.container
Requires=authentik_server.container

[Container]
ContainerName=gitea_server
Environment=GITEA_RUNNER_REGISTRATION_TOKEN_FILE=/run/secrets/gitea_runner_token
Image=ghcr.io/ngarside/gitea-server:1.25.2.166
Memory=8g
Network=gitea_server.network:ip=10.14.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=gitea_global_secret
Secret=gitea_internal_secret
Secret=gitea_jwt_secret
Secret=gitea_lfs_secret
Secret=gitea_oidc_secret
Secret=gitea_runner_token
Secret=machine_domain_root
Tmpfs=/tmp:mode=1777
UserNS=auto:size=8
Volume=/etc/gitea/server:/etc/gitea:ro
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/var/data/gitea/db:/opt/db:U,Z
Volume=/var/data/gitea/git:/opt/git:U,Z
Volume=/var/data/gitea/lfs:/opt/lfs:U,Z
Volume=/var/data/gitea/work:/var/lib/gitea:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/gitea/db
ExecStartPre=mkdir --parents /var/data/gitea/git
ExecStartPre=mkdir --parents /var/data/gitea/lfs
ExecStartPre=mkdir --parents /var/data/gitea/work
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_global_secret -"
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_internal_secret -"
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_jwt_secret -"
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_lfs_secret -"
ExecStartPre=bash -c "dd bs=32 count=1 if=/dev/urandom status=none | base64 --wrap 0 | tr +/ -_ | tr --delete = | podman secret create --ignore gitea_runner_token -"

[Install]
WantedBy=default.target
