# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=adguardhome
Image=ghcr.io/ngarside/adguardhome:latest
Network=internal.network
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=80:80/tcp
ReadOnly=true
UserNS=auto:size=8
Volume=/var/data/adguardhome/etc:/etc/adguardhome:U,Z
Volume=/var/data/adguardhome/opt:/opt/adguardhome:U,Z

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=/bin/bash -c 'mkdir --parents /var/data/adguardhome/{etc,opt}'

[Install]
WantedBy=default.target
