# This is free and unencumbered software released into the public domain.

[Unit]
After=adguardhome-pull.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'mkdir --parents /var/data/adguardhome/{etc,opt}'
ExecStart=/bin/bash -c 'chown containers:containers /var/data/adguardhome'
ExecStart=/bin/bash -c 'chown containers:containers /var/data /var/data/adguardhome/{etc,opt}'

[Install]
WantedBy=default.target
