# This is free and unencumbered software released into the public domain.

[Unit]
After=adguardhome-pull.target

[Service]
ExecStartPre=systemctl disable systemd-resolved
Type=oneshot

[Install]
WantedBy=default.target
