# This is free and unencumbered software released into the public domain.

[Unit]
After=network-online.target

[Service]
User=containers
Group=containers
Type=simple
ExecStartPre=podman pull ghcr.io/ngarside/adguardhome:latest
ExecStartPre=systemctl disable systemd-resolved
ExecStartPre=/bin/bash -c 'mkdir --parents /var/data/adguardhome/{etc,opt}'
ExecStart=podman run \
	--name adguardhome \
	--publish 53:53/tcp \
	--publish 53:53/udp \
	--publish 10000:80/tcp \
	--read-only \
	--replace \
	--userns=auto:size=8 \
	--volume /var/data/adguardhome/etc:/etc/adguardhome:U,Z \
	--volume /var/data/adguardhome/opt:/opt/adguardhome:U,Z \
	ghcr.io/ngarside/adguardhome:latest
ExecStop=podman stop --ignore adguardhome
Restart=always

[Install]
WantedBy=default.target
