# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=chartdb
DropCapability=all
Image=ghcr.io/ngarside/chartdb:1.20.1.760@sha256:f3841bf44030a9c0bc46f657e72b0e5b7f15b8e3ded64258833af277a82884aa
Memory=512m
Network=chartdb.network:ip=10.16.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
