# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=chartdb
DropCapability=all
Image=ghcr.io/ngarside/chartdb:1.20.1.498@sha256:b345b58031d5cc2e382dc9082778a35b788fcb8c2172afd80748196596f249d8
Memory=512m
Network=chartdb.network:ip=10.16.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
