# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=chartdb
DropCapability=all
Image=ghcr.io/ngarside/chartdb:1.20.1.436@sha256:33bd86341189c63387dd9cb74b0c8b6f6c846c2261763cc54a3852eb94399a07
Memory=512m
Network=chartdb.network:ip=10.16.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
