# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=cloudflared
Exec=tunnel run --token-file /run/secrets/cloudflare_tunnel_token
Image=ghcr.io/ngarside/cloudflared:2025.10.1.28
Memory=8g
Network=cloudflared.network:ip=10.13.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
Secret=cloudflare_tunnel_token
UserNS=auto:size=8
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro

[Service]
Restart=always
TimeoutStartSec=9000

[Install]
WantedBy=default.target
