# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=cloudflared
Exec=tunnel --no-autoupdate run
Image=docker.io/cloudflare/cloudflared:2025.8.1
Network=cloudflared.network:ip=10.13.0.2
NoNewPrivileges=true
ReadOnly=true
Secret=cloudflare_tunnel_token,type=env,target=TUNNEL_TOKEN

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
