# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=youtrack
DropCapability=all
Image=docker.io/jetbrains/youtrack:2026.2.18194@sha256:6d20ac0cb1a92e00c86db70549cdeb3dc0090dc8fddaefdeeca60a89d3153fcd
Memory=4g
Network=youtrack.network:ip=10.9.0.2
NoNewPrivileges=true
ReadOnly=true
Tmpfs=/opt/youtrack/temp:mode=1777
UserNS=auto
Volume=/var/data/youtrack/config:/opt/youtrack/conf:U,Z
Volume=/var/data/youtrack/data:/opt/youtrack/data:U,Z
Volume=/var/data/youtrack/logs:/opt/youtrack/logs:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/youtrack/config
ExecStartPre=mkdir --parents /var/data/youtrack/data
ExecStartPre=mkdir --parents /var/data/youtrack/logs

[Install]
WantedBy=default.target
