# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=seaweedfs
DropCapability=all
Exec=server -dir=/var/lib/seaweedfs -s3 -s3.config=/etc/seaweedfs/seaweedfs.json -s3.port=80
Image=ghcr.io/ngarside/seaweedfs:4.37.1069@sha256:3561cdb70b7405a9033c1caa8448d2e7b0097e53d91262f484eb4c4575f59041
Memory=4g
Network=seaweedfs.network:ip=10.21.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Volume=/etc/seaweedfs:/etc/seaweedfs:ro
Volume=/var/data/seaweedfs/data:/var/lib/seaweedfs:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/seaweedfs/data

[Install]
WantedBy=default.target
