# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=seaweedfs
DropCapability=all
Exec=server -dir=/var/lib/seaweedfs -s3 -s3.config=/etc/seaweedfs/seaweedfs.json -s3.port=80
Image=ghcr.io/ngarside/seaweedfs:4.22.809@sha256:02e91b63db34059767df4ef7c221e5d8476b61521ec57266098ab70a093d4c3d
Memory=4g
Network=seaweedfs.network:ip=10.21.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Volume=/etc/seaweedfs:/etc/seaweedfs:ro
Volume=/var/data/seaweedfs/data:/var/lib/seaweedfs:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/seaweedfs/data

[Install]
WantedBy=default.target
