# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:latest
Network=vaultwarden.network:ip=10.12.0.2
Volume=/var/data/vaultwarden/data:/data:U,Z
UserNS=auto:size=8

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=mkdir --parents /var/data/vaultwarden/data

[Install]
WantedBy=default.target
