# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=vaultwarden
DropCapability=all
Image=ghcr.io/ngarside/vaultwarden:1.36.0.554@sha256:2e080f5a513dba92a9507743bb10805cdd74f8be4a55f184880df334f63193ae
Memory=4g
Network=vaultwarden.network:ip=10.12.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Volume=/var/data/vaultwarden/data:/data:U,Z

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/vaultwarden/data

[Install]
WantedBy=default.target
