# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=vaultwarden
DropCapability=all
Image=ghcr.io/ngarside/vaultwarden:1.35.7.408@sha256:5d1bb77a7470fc2091213023e1b669e28e6f045ec6b0439ccb5fd9ed84836270
Memory=4g
Network=vaultwarden.network:ip=10.12.0.2
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
UserNS=auto:size=8
Volume=/var/data/vaultwarden/data:/data:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/vaultwarden/data

[Install]
WantedBy=default.target
