# This is free and unencumbered software released into the public domain.

[sources.host_source]
filesystem.mountpoints.excludes = ["*/proc/sys/fs/binfmt_misc"]
type = "host_metrics"

[sinks.host_prometheus]
compression = "gzip"
encoding.codec = "json"
framing.method = "newline_delimited"
healthcheck.enabled = false
inputs = ["host_source"]
type = "http"
uri = "http://10.24.0.3:9428//insert/jsonline?_stream_fields=host,container_name&_msg_field=message&_time_field=timestamp&debug=1"
