# This is free and unencumbered software released into the public domain.

[api]
address = "0.0.0.0:8686"
enabled = true

[sources.vector_instance]
address = "10.15.0.2:6000"
type = "vector"

[sources.vector_metrics]
type = "internal_metrics"

[sinks.vector_logs]
compression = "gzip"
encoding.codec = "json"
framing.method = "newline_delimited"
healthcheck.enabled = false
inputs = ["host_source"]
type = "http"
uri = "http://10.24.0.3:9428//insert/jsonline?_stream_fields=host,container_name&_msg_field=message&_time_field=timestamp&debug=1"

[sinks.vector_prometheus]
auth.password = "$GRAFANA_PROMETHEUS_PASSWORD"
auth.strategy = "basic"
auth.user = "$GRAFANA_PROMETHEUS_USERNAME"
endpoint = "$GRAFANA_PROMETHEUS_URI"
inputs = ["vector_metrics"]
type = "prometheus_remote_write"
