# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=penpot_exporter
Image=ghcr.io/ngarside/penpot-backend:latest
IP=10.10.0.8
Network=internal
ReadOnly=true
UserNS=auto:size=256

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
