# This is free and unencumbered software released into the public domain.

[Unit]
After=penpot_postgres.container
After=penpot_valkey.container
Requires=penpot_postgres.container
Requires=penpot_valkey.container

[Container]
ContainerName=penpot_backend
Environment="PENPOT_FLAGS=disable-email-verification disable-secure-session-cookies"
Environment=PENPOT_HTTP_SERVER_MAX_BODY_SIZE=31457280
Environment=PENPOT_HTTP_SERVER_MAX_MULTIPART_BODY_SIZE=367001600
Environment=PENPOT_DATABASE_URI=postgresql://10.10.0.6/penpot
Environment=PENPOT_DATABASE_USERNAME=penpot
Environment=PENPOT_DATABASE_PASSWORD=penpot
Environment=PENPOT_REDIS_URI=redis://10.10.0.5/0
Environment=PENPOT_ASSETS_STORAGE_BACKEND=assets-fs
Environment=PENPOT_STORAGE_ASSETS_FS_DIRECTORY=/opt/data/assets
Image=ghcr.io/ngarside/penpot-backend:latest
IP=10.10.0.8
Network=internal
Volume=/var/data/penpot/assets:/opt/data/assets:z

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=/bin/bash -c 'mkdir --parents /var/data/penpot/assets'

[Install]
WantedBy=default.target
