# This is free and unencumbered software released into the public domain.

[Unit]
After=penpot_valkey.container
Requires=penpot_valkey.container

[Container]
ContainerName=penpot_exporter
Environment=PENPOT_PUBLIC_URI=http://10.3.0.9:8080
Environment=PENPOT_REDIS_URI=redis://10.4.0.2/0
Image=ghcr.io/ngarside/penpot-exporter:2.8.1.46
Network=penpot_backend.network:ip=10.4.0.4
Network=penpot_frontend.network:ip=10.3.0.7
NoNewPrivileges=true
UserNS=auto

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
