# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=penpot_valkey
Image=ghcr.io/ngarside/valkey:latest
IP=10.4.0.2
Network=penpot_backend.network
ReadOnly=true
UserNS=auto:size=8

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
