# This is free and unencumbered software released into the public domain.

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=memos
DropCapability=all
Image=ghcr.io/ngarside/memos:0.29.0.664@sha256:bb38dcb7e2c0e9e1147406b7164d95c1fe0d420b3f44bc57713921377072a9ef
Memory=4g
Network=memos.network:ip=10.6.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Volume=/var/data/memos/opt:/var/lib/memos:U,Z
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900
ExecStartPre=mkdir --parents /var/data/memos/opt

[Install]
WantedBy=default.target
