# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=memos
Image=ghcr.io/ngarside/memos:0.25.1.134
Network=memos.network:ip=10.6.0.2
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8
Volume=/data/memos/opt:/opt/memos:U,Z
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro

[Service]
Restart=always
TimeoutStartSec=300
ExecStartPre=mkdir --parents /data/memos/opt

[Install]
WantedBy=default.target
