# This is free and unencumbered software released into the public domain.

[Unit]
After=authentik_server.container
After=outline_postgres.container
After=outline_valkey.container
Requires=authentik_server.container
Requires=outline_postgres.container
Requires=outline_valkey.container

[Container]
ContainerName=outline
Environment=URL=https://outline.usani.uk
Environment=PORT=8080
Environment=SECRET_KEY=a42cae960fd1d51efb86a81b4fb60a452337b8960ac0258f82a468a8307e1c1c
Environment=UTILS_SECRET=bcebbd860e4e9fc3317ed985e289e4c0bce339c071ccef8dc31482571c9db90b
Environment=DATABASE_URL=postgres://postgres:postgres@10.19.0.3:5432/outline
Environment=PGSSLMODE=disable
Environment=REDIS_URL=redis://10.19.0.4:6379
Environment=FILE_STORAGE=local
Environment=FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
Environment=OIDC_CLIENT_ID=outline
Environment=OIDC_ISSUER_URL=https://usani.uk/application/o/outline
Environment=OIDC_DISPLAY_NAME=Authentik
Environment=SMTP_SERVICE=Mailjet
Environment=SMTP_FROM_EMAIL=noreply@usani.uk
Environment=COLLABORATION_URL=
Environment=LOG_LEVEL=debug
Environment=DEFAULT_LANGUAGE=en_GB
Image=ghcr.io/ngarside/outline:0.87.4.2
Network=outline_external.network:ip=10.10.0.2
Network=outline_internal.network:ip=10.19.0.2
NoNewPrivileges=true
ReadOnly=true
Secret=mailjet_smtp_password,type=env,target=SMTP_PASSWORD
Secret=mailjet_smtp_username,type=env,target=SMTP_USERNAME
Secret=outline_oidc_secret,type=env,target=OIDC_CLIENT_SECRET
Volume=/var/data/outline/data:/var/lib/outline/data:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/outline/data

[Install]
WantedBy=default.target
