# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=outline_postgres
Environment=POSTGRES_DB=outline
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_USER=postgres
Image=ghcr.io/ngarside/postgres:18.0.119
Network=outline_internal.network:ip=10.19.0.3
NoNewPrivileges=true
ReadOnly=true
StopSignal=SIGINT
UserNS=auto:size=256
Volume=/var/data/outline/postgres:/var/lib/postgresql:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/outline/postgres

[Install]
WantedBy=default.target
