# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=outline_postgres
Environment=POSTGRES_DB=outline
Environment=POSTGRES_USER=outline
Image=ghcr.io/ngarside/postgres:18.0.131
Network=outline_internal.network:ip=10.19.0.3
NoNewPrivileges=true
ReadOnly=true
Secret=outline_postgres_password,type=env,target=POSTGRES_PASSWORD
StopSignal=SIGINT
UserNS=auto:size=256
Volume=/var/data/outline/postgres:/var/lib/postgresql:U,Z

[Service]
Restart=always
TimeoutStartSec=9000
ExecStartPre=mkdir --parents /var/data/outline/postgres
ExecStartPre=bash -c "dd bs=96 count=1 if=/dev/urandom status=none | base64 --wrap 0 | podman secret create --ignore outline_postgres_password -"

[Install]
WantedBy=default.target
