# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=outline_valkey
DropCapability=all
Image=ghcr.io/ngarside/valkey:9.1.0.1054@sha256:d1b2f104ce6279501aedf54b0d2224fc2d58cc864f3e99f26569799a10ad2cd6
Memory=4g
Network=outline_internal.network:ip=10.19.0.4
NoNewPrivileges=true
ReadOnly=true
UserNS=auto:size=8

[Service]
CPUQuota=100%
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
