# This is free and unencumbered software released into the public domain.

[Container]
ContainerName=outline_valkey
Image=ghcr.io/ngarside/valkey:8.1.4.147
Network=outline_internal.network:ip=10.19.0.4
NoNewPrivileges=true
PodmanArgs=--cpus=1
ReadOnly=true
UserNS=auto:size=8

[Service]
Restart=always
TimeoutStartSec=9000

[Install]
WantedBy=default.target
