# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=vector
Image=ghcr.io/ngarside/vector:latest
Network=vector.network:ip=10.15.0.2
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:O

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
