# This is free and unencumbered software released into the public domain.

[Unit]

[Container]
ContainerName=vector
Environment=PROCFS_ROOT=/host/proc
Environment=SYSFS_ROOT=/host/sys
Image=ghcr.io/ngarside/vector:0.49.0
Network=vector.network:ip=10.15.0.2
NoNewPrivileges=true
ReadOnly=true
Secret=grafana_cloud_password,type=env,target=GRAFANA_CLOUD_PASSWORD
Secret=grafana_cloud_uri,type=env,target=GRAFANA_CLOUD_URI
Secret=grafana_cloud_username,type=env,target=GRAFANA_CLOUD_USERNAME
UserNS=auto:size=8
Volume=/etc/pki/ca-trust/extracted/pem:/etc/pki/ca-trust/extracted/pem:ro
Volume=/etc/vector/vector.toml:/etc/vector/vector.toml:ro
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
