# This is free and unencumbered software released into the public domain.

name: build

on:
  workflow_call:
    inputs:
      specifier:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: { contents: read, packages: write }
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: pip install uv

      - name: Generate image path
        run: echo "IMAGE=$(uv run scripts/src/specifier_to_dockerfile.py '${{ inputs.specifier }}')" >> $GITHUB_ENV

      - name: Generate test path
        run: echo "TEST=$(uv run scripts/src/specifier_to_testfile.py '${{ inputs.specifier }}')" >> $GITHUB_ENV

      - name: Generate image name
        run: echo "NAME=$(uv run scripts/src/specifier_to_imagename.py '${{ inputs.specifier }}')" >> $GITHUB_ENV

      - name: Generate tag
        run: echo "TAG=$(uv run scripts/src/tagify.py $IMAGE)" >> $GITHUB_ENV

      - name: Build container
        run: >
          podman build --file "$IMAGE" --format docker
          --tag $NAME:$TAG .

      - name: Run tests
        run: uv run pytest -rA $TEST

      - name: Login to registry
        run: >
          podman login ghcr.io --username ${{ github.actor }}
          --password ${{ secrets.GITHUB_TOKEN }}

      - name: Push container to registry
        run: podman push $NAME:$TAG

      - name: Tag latest version
        if: ${{ github.ref_name == 'master' }}
        run: podman tag $NAME:$TAG $NAME:latest

      - name: Push latest to registry
        if: ${{ github.ref_name == 'master' }}
        run: podman push $NAME:latest
