# This is free and unencumbered software released into the public domain.

name: build

on:
  workflow_call:
    inputs:
      specifier:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: { contents: read, packages: write }
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Install dependencies
        run: pip install uv

      - name: Generate test path
        run: echo "PATH=$(uv run scripts/src/specifier_to_dockerfile.py '${{ inputs.specifier }}')" >> $GITHUB_ENV

      - name: Generate test path
        run: echo "TEST=$(uv run scripts/src/testify.py '$PATH')" >> $GITHUB_ENV

      - name: Generate name
        run: echo "NAME=$(uv run scripts/src/namify.py '$PATH')" >> $GITHUB_ENV

      - name: Generate tag
        run: echo "TAG=$(uv run scripts/src/tagify.py '$PATH')" >> $GITHUB_ENV

      - name: Build container
        run: >
          podman build --file "$PATH" --format docker
          --tag ghcr.io/ngarside/$NAME:$TAG .

      - name: Run tests
        run: uv run pytest -rA $TEST

      - name: Login to registry
        run: >
          podman login ghcr.io --username ${{ github.actor }}
          --password ${{ secrets.GITHUB_TOKEN }}

      - name: Push container to registry
        run: podman push ghcr.io/ngarside/$NAME:$TAG

      - name: Tag latest version
        if: ${{ github.ref_name == 'master' }}
        run: podman tag ghcr.io/ngarside/$NAME:$TAG ghcr.io/ngarside/$NAME:latest

      - name: Push latest to registry
        if: ${{ github.ref_name == 'master' }}
        run: podman push ghcr.io/ngarside/$NAME:latest
