# This is free and unencumbered software released into the public domain.

name: scripts

on:
  pull_request:
    paths: ['**/scripts.yaml', 'pyproject.toml', 'scripts/**']
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: pip install uv

      - name: Run tests
        run: uv run pytest -rA scripts
